* {
	--font-color: hsl(0, 0%, 100%, 0.9);
	--sub-color: hsla(0, 0%, 100%, 0.3);
	--glass-bg-color: hsla(0, 0%, 100%, 0.1);
	--glass-border: 1px solid hsla(0, 0%, 100%, 0); 
	--box-shadow: 0.2rem 0.2rem 0.4rem hsla(0, 0%, 0%, 0.2);
	--blur: blur(15px);
	--background-filter: brightness(0.6) contrast(0.9) saturate(1.2);
	--background: url("/leaves.jpg");
	/* --font-color: hsl(0, 0%, 100%, 0.9);
	--sub-color: hsla(0, 0%, 100%, 0.4);
	--glass-bg-color: hsla(0, 0%, 0%, 0.5);
	--glass-border: 1px solid hsla(0, 0%, 100%, 0); 
	--box-shadow: 0.2rem 0.2rem 0.4rem hsla(0, 0%, 0%, 0.2);
	--background: url("https://4kwallpapers.com/images/wallpapers/mountains-blue-sky-mountain-range-fog-peak-3840x2160-5364.jpg");
	--background-filter: brightness(1) contrast(0.9); */
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	font: inherit;
	color: inherit;
	border: none;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}
    
.task {
	display: flex;
	padding: 0.7rem 1rem;
	backdrop-filter: var(--blur);
	background: var(--glass-bg-color);
	border: var(--glass-border);
	border-radius: 0.6rem;
	margin-bottom: 0.3rem;
	align-items: center;
	box-shadow: var(--box-shadow);
}

.task-complete-button {
	background: none;
	margin: 0 1rem 0 0;
	padding: 0;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 2rem;
	border: 2px solid var(--sub-color);
}
