* {
	--font-color: hsl(0, 0%, 100%, 0.9);
	--sub-color: hsla(0, 0%, 100%, 0.3);
	--bg-color: hsla(0, 0%, 100%, 0.1);
	--border: 0px solid hsla(0, 0%, 100%, 0); 
	--box-shadow: 0.2rem 0.2rem 1rem hsla(0, 0%, 0%, 0.6);
	--blur: blur(15px);
	--bg-filter: brightness(0.6) contrast(0.9) saturate(1.2);
	--bg-picture: url("/leaves.jpg");
	/* --font-color: hsl(0, 0%, 100%, 0.9);
	--sub-color: hsla(0, 0%, 100%, 0.4);
	--bg-color: hsla(0, 0%, 0%, 0.5);
	--border: 1px solid hsla(0, 0%, 100%, 0); 
	--box-shadow: 0.2rem 0.2rem 0.4rem hsla(0, 0%, 0%, 0.2);
	--background: url("https://4kwallpapers.com/images/wallpapers/mountains-blue-sky-mountain-range-fog-peak-3840x2160-5364.jpg");
	--background-filter: brightness(1) contrast(0.9); */
	box-sizing: border-box;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background: hsla(0, 0%, 100%, 0.2);
}

button {
	background: none;
	font: inherit;
	color: inherit;
	border: none;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}

input {
	padding: 0;
	background: none;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.glass-bg {
	background: var(--bg-color);
	backdrop-filter: var(--blur);
	border: var(--border);
	box-shadow: var(--box-shadow);
	border-radius: 0.6rem;
}

.bi {
	display: flex;
	font-size: 1.2em;
}

.bi-check2-circle {
	font-size: 1.4em;
}

.bi-plus {
	font-size: 1.8em;
}

.bi-x {
	font-size: 1.8em;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.05s ease-out;
	border-radius: 0.6rem;
	flex-shrink: 0;
}

.button.outside.icon {
	border-radius: 1.2rem;
	width: 2.4rem;
	height: 2.4rem;
}
	
.button.outside.text {
	height: 2.4rem;
	padding: 0 0.4rem;
}

.button.inside.icon {
	color: var(--sub-color);
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
}

.button.inside.text {
	background: var(--bg-color);
}

.button.outside:hover {
	background: hsla(0, 0%, 100%, 0.1);
}

.button.inside.icon:hover {
	background: hsla(0, 0%, 100%, 0.1);
}

.button.inside.text:hover {
	background: hsla(0, 0%, 100%, 0.2);
}

.button:active {
	transform: scale(0.95);
}

.button.icon:active {
	transform: scale(0.9);
}
    
.task {
	display: flex;
	padding: 0 0.7rem 0 1rem;
	height: 3rem;
	margin-bottom: 0.3rem;
	align-items: center;
	user-select: none;
	transition: 0.05s ease-out;
}

.task:hover .button.inside.icon.task-delete {
	display: flex;
}

.button.inside.icon.task-complete {
	margin: 0 1rem 0 0;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 0.7rem;
	border: 2px solid var(--sub-color);
	transform: none;
}

.button.inside.icon.task-delete {
	display: none;
	margin-left: auto;
}

.task.completed .task-text {
	text-decoration: line-through;
}

.task:hover {
	cursor: pointer;
}

.task:active:not(:focus-within) {
	transform: scale(0.99);
}

.task.selected {
	background: hsla(0, 0%, 100%, 0.2);
}

#page {
	grid-column: 2;
	padding: 2rem 3rem 2rem 3rem;
	height: 100vh;
	width: 100%;
	z-index: 5;
}

#page-title {
	margin: 0 2rem 0 0;
	width: 100%;
	height: 2.4rem;
}

#details-sidebar {
	grid-column: 3;
	height: 100vh;
	z-index: 10;
	width: 0;
	border-radius: 0;
	transition: 0.2s ease-out;
}

#details-sidebar.expanded {
	width: 20rem;
}

#details-sidebar-inner {
	width: 20rem;
	padding: 2rem;
}